body {
    text-align: center;
}
.limit {
    width: 100vw;
    margin: 100px auto;
}
.circle {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 153, 0);
    border-radius: 50%;
    background-color: lime;
    display: block;
    animation: movement 5s ease-out alternate infinite;
    float: left;
    transition: 2s cubic-bezier(.18,.70,.90,.65);
    transition-property: background-color;
}
.circle:hover {
    background-color: red;
}

@keyframes movement {
    100% {
        transform: translateX(calc(100vw - 150px));
    }
}
